<% provide(:title, "Dashboard") %>
<h1>Dashboard</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbo-header"><h4>Current Balance: <span class="balance"><%= number_to_currency(current_user.balance) %></span></h4></div>
      <div class="stockcontent">
        <canvas id="line-canvas" class="balance-graph"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbo-header"><h4>Portfolio</h4></div>
      <div class="stockcontent">
        <canvas id="pie-canvas" class="pie-graph"></canvas>
        <div id="js-legend" class="chart-legend clearfix"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="jumbo-header"><h4>Purchased Stock Prices</h4></div>
      <div class="stockcontent">
        <canvas id="bar-canvas" class="balance-graph"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbo-header"><h4>Watch list</h4></div>
      <div class="stockcontent">
        <%= form_tag(stocks_add_path, method: "get") do %>
          <div class="form-group watchlist-form">
            <%= label_tag(:symbol, "Stock Symbol:") %>
            <%= text_field_tag :symbol, '', placeholder: 'Enter stock symbol...', class: 'form-control' %>
            <button class="btn btn-default watch-btn" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add to watch list</button>
          </div>
        <% end %>
        <br />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Company Name</th>
              <th>Bidding Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @user_watches.each_with_index do |stock, index| %>
              <tr>
                <td><%= link_to stock.symbol.upcase, stock_path(stock.id)  %></td>
                <td><%= @data_watches[index].name %></td>
                <td>$<%= @data_watches[index].bid %></td>
                <td>
                  <%= form_for :user_watches, url: stocks_remove_path do |f| %>
                    <%= f.hidden_field :symbol, :value => stock.symbol %>
                  <%= f.submit "Remove", :class => "btn btn-danger btn-sm", data: {confirm: "You sure?"} %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var currBalance = <%= raw current_user.balance.to_json %>;
  var today = moment().format('MM/DD');
  var lineChartData = {
    labels : [moment().subtract(6, 'days').format('MM/DD'), moment().subtract(5, 'days').format('MM/DD'), moment().subtract(4, 'days').format('MM/DD'), moment().subtract(3, 'days').format('MM/DD'), moment().subtract(2, 'days').format('MM/DD'), moment().subtract(1, 'days').format('MM/DD'), today],
    datasets : [
      {
        label: "My First dataset",
        fillColor : "rgba(165, 214, 167, 0.5)",
        strokeColor : "rgba(165, 214, 167, 1)",
        pointColor : "rgba(165, 214, 167, 1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(220,220,220,1)",
        data : [15430, 9560, 8700, 11430, 14280, 13220, currBalance]
      }
    ]
  }

  var randRGB = function () {
      return "rgba("+ Math.floor(Math.random()*256) + "," + Math.floor(Math.random()*256) + "," + Math.floor(Math.random()*256) + ", 0.5)";
  };

  var prices = <%= raw @stock_prices.to_json %>
  var symbols = <%= raw @stock_symbols.to_json %>
  var shares = <%= raw @stock_shares.to_json %>
  var ids = <%= raw @stock_ids.to_json %>

  var symbols_links = symbols.map(function(sym, index) {
    return '<a href="/stocks/' + ids[index] + '">' + sym + '</a>';
  });

  var pieData = [];
  var i = 0;
  var base = [];
  for (i = 0; i < shares.length; i++) {
    base.push(randRGB());
    pieData.push({
      value: shares[i],
      color: base[i],
      highlight: base[i].replace('0.5', '0.75'),
      label:symbols[i]
    });
  }

  var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

  var barChartData = {
    labels : symbols,
    datasets : [
      {
        fillColor : "rgba(151,187,205,0.5)",
        highlightFill : "rgba(151,187,205,0.75)",
        data : prices
      }
    ]
  }

  $(document).ready(function() {
    var ctx = document.getElementById("line-canvas").getContext("2d");
    ctx.canvas.width = 300;
    ctx.canvas.height = 300;
    window.myLine = new Chart(ctx).Line(lineChartData, {
      responsive: true
    })

    ctx = document.getElementById("pie-canvas").getContext("2d");
    var myPie = new Chart(ctx).Pie(pieData, {
      responsive: true,
      legendTemplate : "<ul><%% for (var i=0; i<symbols.length; i++){%><li><span style=\"background-color:<%%=base[i]%>\"></span><%%if(symbols[i]){%><%%=symbols_links[i]%><%%}%></li><%%}%></ul>"
    });

    document.getElementById('js-legend').innerHTML = myPie.generateLegend();

    ctx = document.getElementById("bar-canvas").getContext("2d");
    var myBar = new Chart(ctx).Bar(barChartData, {
      responsive : true
    });

    $.each(myBar.datasets[0].bars, function(i, bar) {
      bar.fillColor = base[i];
      bar.highlightFill = base[i].replace('0.5', '0.75');
    });

    myBar.update();
  });
<% end %>
