<div class="container">
  <% provide(:title, "Past Transactions") %>
  <h1>Past Transactions</h1>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Total amount</th>
        </tr>
      </thead>
      <tbody>
     	  <% @transactions.each do |t| %>
          <tr>
            <td><%= t.transaction_type.upcase %></td>
            <td><%= link_to t.symbol.upcase, stock_path(t.stock_id) %></td>
            <td><%= t.shares %></td>
            <td class="<%= t.transaction_type.upcase == 'BUY' ? 'buy' : 'sell' %>"><%= number_to_currency(t.amount) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
