<h1><%= @stock.company %> (<%= @stock.symbol %>)</h1>

<div id="container" style="width:100%; height:400px;"></div>





<div class="row stock">
    <div class="container">
        <div class="jumbotron text-center col-md-6">
            <div class= "jumbo-header">
        		Stockr
        	</div>
        	<div class= "jumbotron-content">

        	</div>
            
        </div>

        <div class="jumbotron text-center col-md-6">
            <div class= "jumbo-header">
        		is
        	</div>

        	<div class= "jumbotron-content">

        	</div>
            
        </div>
    </div>
</div>

<div class="row stock">
    <div class="container">
        <div class="jumbotron text-center col-md-6">    
        <div class= "jumbo-header">
        	History of Stock
        </div>
        <div class= "jumbotron-content">
			  <table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Date</th>
			        <th>Open</th>
			        <th>High</th>
			        <th>Low</th>
			        <th>Close</th>
			      </tr>
			    </thead>
			    <tbody>	     
			      	<% @historical_data[0..4].each do |date_data| %>
			      		<tr>
			  			<td><%= date_data['trade_date'] %></td>
			  			<td>$<%= date_data['open'] %></td>
			  			<td>$<%= date_data['high'] %></td>
			  			<td>$<%= date_data['low'] %></td>
			  			<td>$<%= date_data['close'] %></td>
			  			</tr>
					<% end %>
			      
			    </tbody>
			  </table>
	       </div>
        </div>


        <div class="jumbotron text-center col-md-6">
            <div class= "jumbo-header">
        		Test
        	</div>

        	<div class= "jumbotron-content">

        	</div>
            
        </div>
    </div>
</div>

<%= javascript_tag do %>
$(function () {
console.log(<%= @open_history %>);
	var url= 'https://www.highcharts.com/samples/data/jsonp.php?filename=' + '<%= @stock.symbol %>'.toLowerCase() + '-c.json&callback=?';
    var start = Date.now() - 24*3600*1000*360;
    $.getJSON(url, function (data) {
        // Create the chart
        console.log(data);
        $('#container').highcharts('StockChart', {

        	xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                day: '%b %e'
            }
        },
        	<!-- xAxis: {min: 1417996800000, max: 1448928000000}, -->
            rangeSelector:{
                enabled:false
            },

            title : {
                text : '<%= @stock.symbol %> Stock Price'
            },
            <!-- console.log(<%= @open_history %>), -->
            series : [{
                name : 'Open',
                data : <%= @open_history %>,
                pointStart: start,
            	pointInterval: 24 * 3600 * 1000 * 1.4549,
                tooltip: {
                    valueDecimals: 2
                }
            },
			{
                name : 'Close',
                data : <%= @close_history %>,
                pointStart: start,
            	pointInterval: 24 * 3600 * 1000 * 1.4549,
                tooltip: {
                    valueDecimals: 2
                }
            },
            {
                name : 'High',
                data : <%= @high_history %>,
                pointStart: start,
            	pointInterval: 24 * 3600 * 1000 * 1.4549,
                tooltip: {
                    valueDecimals: 2
                }
            },
            {
                name : 'Low',
                data : <%= @low_history %>,
                pointStart: start,
            	pointInterval: 24 * 3600 * 1000 * 1.4549,
                tooltip: {
                    valueDecimals: 2
                }
            }
            ]
        });
    });

});
<% end %>

