<% provide(:title, @stock.company + " : $" + @stock_data[0].bid) %>

<h1><%= @stock.company %> (<%= @stock.symbol %>)</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbo-header chart">Chart</div>
      <div id="stock-chart" class="stockcontent"></div>
    </div>
    <div class="col-md-6">
      <div class="jumbo-header price">Price</div>
      <div class="stockcontent">
        <div class="row">
          <div class="col-md-8">
            <ul>
              <li><b>Bidding price: </b>$<%= @stock_data[0].bid %></li>
              <li><b>Asking price: </b>$<%= @stock_data[0].ask %></li>
              <li><b>High: </b>$<%= @stock_data[0].high %></li>
              <li><b>Low: </b>$<%= @stock_data[0].low %></li>
              <li><b>Analysis: </b>
                <% if @signal  == "Sell" %>
                    <b style="color:red;">Look to <%= @signal %></b>
                <% elsif @signal  == "Buy" %>
                    <b style="color:green;">Look to <%= @signal %></b>
                <% else%>
                    <b>Look to <%= @signal %></b>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#buyModal">BUY</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sellModal">SELL</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="jumbo-header history">History</div>
      <div class="stockcontent">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Close</th>
            </tr>
          </thead>
          <tbody>
            <% @historical_data[0..4].each do |date_data| %>
              <tr>
                <td><%= date_data['trade_date'] %></td>
                <td>$<%= (number_with_precision(date_data['open'], :precision => 2) || 0) %></td>
  			  			<td>$<%= (number_with_precision(date_data['high'], :precision => 2) || 0) %></td>
  			  			<td>$<%=(number_with_precision(date_data['low'], :precision => 2) || 0) %></td>
  			  			<td>$<%= (number_with_precision(date_data['close'], :precision => 2) || 0) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbo-header news">News</div>
      <div class="stockcontent">
        <ul class="media-links">
          <% @media_links.each do |link| %>
            <li><a href="<%= link['link'] %>"><%= link['name']  %></a></li>
          <% end %>
        <ul>
      </div>
    </div>
  </div>
</div>

<!-- Buy Modal -->
<div id="buyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Buy Stock</h4>
      </div>
      <div class="modal-body">
        <p><b>Bidding price: </b><%= @stock_data[0].bid %></p>
        <%= form_for :user_owns, url: stocks_buy_path do |f| %>
          <b>Number of shares:</b>
          <%= f.number_field(:shares) %>
          <%= f.hidden_field :symbol, :value => @stock.symbol %>
          <%= f.hidden_field :price, :value => @stock_data[0].bid %>
          <br><br>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Buy", :class => "btn btn-success" %>
        <% end %>

      </div>
    </div>

  </div>
</div>

<!-- Sell Modal -->
<div id="sellModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sell Stock</h4>
      </div>
      <div class="modal-body">
        <p><b>Bidding price: </b><%= @stock_data[0].bid %></p>
        <%= form_for :user_owns, url: stocks_sell_path do |f| %>
          <b>Number of shares:</b>
          <%= f.number_field(:shares) %>
          <%= f.hidden_field :symbol, :value => @stock.symbol %>
          <%= f.hidden_field :price, :value => @stock_data[0].bid %>
          <br><br>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Sell", :class => "btn btn-danger" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= javascript_tag do %>
$(function () {
	var url= 'https://www.highcharts.com/samples/data/jsonp.php?filename=' + '<%= @stock.symbol %>'.toLowerCase() + '-c.json&callback=?';
    var start = Date.now() - 24*3600*1000*360;
    $.getJSON(url, function (data) {
        // Create the chart
        $('#stock-chart').highcharts('StockChart', {

        	xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                day: '%b %e'
            }
        },
        	<!-- xAxis: {min: 1417996800000, max: 1448928000000}, -->
            rangeSelector:{
                enabled:false
            },

            title : {
                text : '<%= @stock.symbol %> Stock Price'
            },
            series : [{
                name : 'Open',
                data : <%= @open_history %>,
                pointStart: start,
            	pointInterval: 24 * 3600 * 1000 * 1.4549,
                tooltip: {
                    valueDecimals: 2
                }
            },
			{
                name : 'Close',
                data : <%= @close_history %>,
                pointStart: start,
            	pointInterval: 24 * 3600 * 1000 * 1.4549,
                tooltip: {
                    valueDecimals: 2
                }
            },
            {
                name : 'High',
                data : <%= @high_history %>,
                pointStart: start,
            	pointInterval: 24 * 3600 * 1000 * 1.4549,
                tooltip: {
                    valueDecimals: 2
                }
            },
            {
                name : 'Low',
                data : <%= @low_history %>,
                pointStart: start,
            	pointInterval: 24 * 3600 * 1000 * 1.4549,
                tooltip: {
                    valueDecimals: 2
                }
            }
            ]
        });
    });

});
<% end %>
