<% provide(:title, 'Find Stocks') %>

<h1>Find Stocks</h1>

<div class="row">
<!-- Search -->
<%= form_tag(stocks_path, :method => "get", id: "search-form") do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Symbols" %>
    </div>
    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
<% end %>
</div>

<div class="row">
  <!-- Stock table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
      </tr>
    </thead>
    <tbody>
      <% if (params[:search] == '') || (params[:search].nil?) %>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= link_to stock.symbol, stock_path(stock.id)  %></td>
            <td><%= stock.company %></td>
          </tr>
        <% end %>
        <%= will_paginate @stocks%>
      <% else%>
        <% @stocks.where(symbol: params[:search].upcase).each do |stock| %>
          <tr>
            <td><%= link_to stock.symbol, stock_path(stock.id)  %></td>
            <td><%= stock.company %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
